@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*
{
margin: 0; 
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
section
{        
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #fff;
}
header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 20px 100px; display: flex;
    justify-content: space-between;
    align-items: center;
    }
header .logo
{
    position: relative;
    max-width: 140px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
 position: relative;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.content.textBox
{
 position: relative; 
 max-width: 600px;
}
.content .textBox h2
{
color: #333;
font-size: 4em;
Line-height: 1.4em; 
font-weight: 500;
}
.content .textBox h2 span
{
color: #1e1ea7;
font-size: 1.2em; 
font-weight: 900;
}
.content .textBox p
{
color: #333;
}



.content .imgBox .invoice 
{
    max-width: 700px; /* Set the maximum width of the image to 300 pixels (you can adjust this value) */
    max-height: 440px; /* Set the maximum height of the image to 200 pixels (you can adjust this value) */
}
  /* Style for the text inside the h2 element with class 'textBox' */
  .content .textbox h2 span {
    color: #68CAFE;
   font-size: 1.2em; 
   font-weight: 900;  /* Replace with your desired color for 'Invoice System' */
  }
  .content .textbox a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #4BA5F6; /* Replace with your desired background color for the button */
    color: #fff; /* Replace with your desired text color for the button */
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .content .textbox a.button:hover {
    background: #3498db; /* Replace with your desired background color for the button on hover */
  }
  .button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #4BA5F6; /* Replace with your desired background color for the button */
    color: #fff; /* Replace with your desired text color for the button */
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #3498db; /* Replace with your desired background color for the buttons on hover */
  }
  
  
  
  
  